<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softwaresolution.db.userperformancerating">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme">

        <meta-data android:name="AA_DB_NAME" android:value="Pickrand" />
        <meta-data android:name="AA_DB_VERSION" android:value="5" />



        <meta-data
            android:name="AA_MODELS"
            android:value="com.softwaresolution.db.userperformancerating.UserModel,com.softwaresolution.db.userperformancerating.UserModelNew,com.softwaresolution.db.userperformancerating.RatingModel,com.softwaresolution.db.userperformancerating.UserRatingModel" />

        <provider android:authorities="com.softwaresolution.db.userperformancerating" android:exported="false"
            android:name="com.activeandroid.content.ContentProvider" />


        <activity android:name=".login.UserLoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".signup.UserSignUpActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".userpermance.WorkPerformanceActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".userperfamance_avg.AdminWorkPerformanceActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>